{% extends 'adminhome.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
            <th>sl No.</th>
            <th>name</th>
            <th>bill_date</th>
            <th>amount</th>
            <th>paid_on</th>
            <th>status</th>
            </thead>
            {% for i in bill %}
            <tbody>
            <td>{{forloop.counter}}</td>
            <td>{{i.name}}</td>
            <td>{{i.bill_date}}</td>
            <td>{{i.amount}}</td>
            <td>{{i.paid_on}}</td>
            <td>{{i.status}}</td>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}