{% extends 'adminhome.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
            <th>Sl No.</th>
            <th>Name</th>
            <th>Type</th>
            <th>Photo</th>
            <th>Edit</th>
            <th>Delete</th>
            </thead>
            {% for i in data %}
            <tbody>
            <td>{{forloop.counter}}</td>
            <td>{{i.name}}</td>
            <td>{{i.type}}</td>
            <td> <img src="{{i.photo.url}}"> </td>
            <td><a class="btn btn-success" href="{% url 'equipments_update' i.id %}">Edit</a></td>
            <td>
                <form action="{% url 'equipments_delete' i.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}